* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: 'Ysabeau Office', sans-serif;
    
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.site-title {
    color: palevioletred;
    margin-bottom: 2rem;
}

.image {
    display: block;
}
.content {
    padding: 2rem;
  
}

.content_ingredients {
    grid-column: span 2;
}

.button {
    padding: 0.7rem;
    color: pink;
    background-color: palevioletred;
    border-radius: 1rem;
    border: none;
}